
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%;
}

body{
  /*Refenrence of image: https://pixabay.com/photos/office-business-colleagues-meeting-1209640/*/
  background: #000000 url(assets/background.jpg) no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

.container{
  margin:  auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', Courier, monospace;
  
}

.content{
  width: 100%;
  background: #ffffff;
  margin-top: 40px;
  border-radius: 4px;
  padding: 30px;

}

.content >p {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 2%;
  text-align: center;
}

.content form{
  display: flex;
  flex-direction: column;
}

.content form label{
  font-size: 15px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.content input{
  margin-bottom: 2px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 15px;
  
}
.content input:focus{
  border: 1px solid #555;

}

.content button {
  border: 0;
  border-radius: 4px;
  width: 40%;
  height: 30px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 4%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 0%;
}

.btnRed{
  background: #ff1a1a;
  color: #ffffff;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 	0.938em;

}
.content button.btnRed:hover{
  background:#ff4d4d;
}

.btnGreen{
  background: #0bc749;
  color: #ffffff;
}
.content button.btnGreen:hover{
  background:#2be268;
}

.btnBlue{
  background: #3366ff;
  color: #ffffff;
}
.content button.btnBlue:hover{
  background:#4d79ff;
}

.btnBlueTwo{
  background-color: rgb(29, 167, 209);
  color: #ffffff;
}
.content button.btnBlueTwo:hover{
  background-color: rgb(34, 185, 231);
}

button {
  margin-top: 0.1em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color: rgb(209, 50, 29);
  color: #fefefe;
}
button:hover {
  background-color: rgb(240, 56, 32);
  color: #fefefe;
}


.inline-buttons .one-third {
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 1076px) {

  .inline-buttons .one-third {
      width: 100%;
      margin: 20px;
      
  }
  
}

.error-message{
  color:#db2269;
  font-size: 15px;
  display: relative;
  text-align: center;
}

.card > .container{
  font-size: 18px;
}

.card{
  background-color: rgb(248, 248, 248);
  height: 70%;
  width: 80%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card img{
  height: 40%;
  width: 40%;
  margin-top: 2%;
}

#comFuncionario{
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 2%;
  text-align: center;
}
#semFuncionario{
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 2%;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  padding-top: 1%;
}